<button md-raised-button color="primary" *ngIf="editable && !adding" (click)="addingEntry()">
    <md-icon class="add-icon">add</md-icon>
    <span class="add-word">添加{{title}}</span>
</button>

<div *ngIf="adding">
    <md-select placeholder="请选择配置项" [(ngModel)]="entryKey" [disabled]="!editable" required>
        <md-option *ngFor="let key of allKeys" [value]="key">{{key}}</md-option>
    </md-select>

    <md-input-container>
        <input mdInput class="middle" style="width: 100%" placeholder="配置项值" [(ngModel)]="entryValue" required>
        <md-error align="end">配置项值不能不空</md-error>
    </md-input-container>
    <button md-raised-button color="primary" (click)="confirmAdding(false)">
        <span class="add-word">添加</span>
    </button>
    <button md-raised-button color="accent" (click)="confirmAdding(true)">
        <span class="cancel-word">继续添加</span>
    </button>
    <button md-button (click)="cancelAdding()">
        <span class="cancel-word">取消</span>
    </button>
</div>
<table *ngIf="currentModel" class="header-bar">
    <thead>
    <tr>
        <td>配置名称</td>
        <td>配置值</td>
        <td *ngIf="editable">操作</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let k of keys(currentModel)">
        <td class="td-middle">{{k}}</td>
        <td class="td-middle">{{currentModel[k]}}</td>
        <td *ngIf="editable" class="td-middle">
            <button md-icon-button color="accent" (click)="removeEntry(k)">
                <i class="material-icons">delete_forever</i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
