<div layout="row" flex>
  <ng-content></ng-content>
  <div flex>
    <div class="ig-step-content-wrapper"
         [@igCollapse]="!active">
      <div #contentRef [class.ig-step-content]="contentRef.children.length || contentRef.textContent.trim()">
        <ng-content select="[ig-step-body-content]"></ng-content>
      </div>
      <div #actionsRef layout="row" [class.ig-step-actions]="actionsRef.children.length || actionsRef.textContent.trim()">
        <ng-content select="[ig-step-body-actions]"></ng-content>
      </div>
    </div>
    <div #summaryRef [@igCollapse]="active || !isComplete()"
                     [class.ig-step-summary]="summaryRef.children.length || summaryRef.textContent.trim()">
      <ng-content select="[ig-step-body-summary]"></ng-content>
    </div>
  </div>
</div>