<div flex class="action-bar" layout="row" layout-align="end center">
    <button *ngIf="enableSearch && !searching" md-icon-button [color]="'accent'" (click)="startSearch()">
        <md-icon>search</md-icon>
    </button>
    <button *ngIf="enableSearch && searching" md-icon-button [color]="'primary'" (click)="cancelSearch(undefined)">
        <md-icon>arrow_forward</md-icon>
    </button>
    <search #search [items]="columns" flex *ngIf="enableSearch && searching" (cancel)="cancelSearch($event)"
            (search)="performSearch($event)" [placeholder]="placeholder"></search>
    <button md-icon-button *ngFor="let action of iconActions()" [color]="action.color? action.color: 'accent'"
            title="{{action.title}}" (click)="performAction(action)">
        <md-icon>{{action.icon}}</md-icon>
    </button>
    <button md-button *ngFor="let action of buttonActions()" [color]="action.color? action.color: 'accent'"
            title="{{action.title}}" (click)="performAction(action)">
        {{action.title}}
    </button>
    <button md-icon-button [color]="'accent'" *ngIf="enableSetting">
        <md-icon>more_vert</md-icon>
    </button>
</div>