.login-tip {
    font-family: 'Microsoft YaHei';
    color: #666;
    font-size: 16px;
    margin-left: 30px;
}

.login-button {
    font-family: 'Microsoft YaHei';
    color: #fff;
    margin-left: 30px;
}
