<div #content class="ig-notification-content">
    <ng-content></ng-content>
</div>
<div *ngIf="show"
     class="ig-notification-count mat-{{color}}"
     [class.ig-notification-top]="positionY === 'top'"
     [class.ig-notification-bottom]="positionY === 'bottom'"
     [class.ig-notification-before]="positionX === 'before'"
     [class.ig-notification-after]="positionX === 'after'"
     [class.ig-notification-center-y]="positionY === 'center'"
     [class.ig-notification-center-x]="positionX === 'center'"
     [class.ig-notification-no-count]="noCount">
    {{noCount ? '' : notificationsDisplay}}
</div>