/* You can add global styles to this file, and also import other style files */
/* This must be included to use the included variables and the color function */
@import 'theme';

$mason: mat-palette($mat-grey);

md-card {
    margin: 10px;
    box-shadow: none;
}

.label {
    span {
        padding: 0 5px;
        background: mat-color($primary, 100);
        font-size: 12px;
        color: mat-color($mason);
    }
}
