@import 'theme-functions';
@import 'palette';

md-divider {
    &[md-inset] {
        @include rtl(margin-left, 72px, 0);
        @include rtl(margin-right, 0, 72px);
    }
    &[mat-inset] {
        @include rtl(margin-left, 72px, 0);
        @include rtl(margin-right, 0, 72px);
    }
    width: 100%;
    display: inline-block;
    border-top: 1px solid;
}