<md-card>
    <md-card-title>
        <div layout="row" layout-align="space-between end">
            <span>首页</span>
            <ig-action-bar flex [enableSetting]="true" [columns]="columns"></ig-action-bar>
        </div>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content>
        <data-table
                #dataTable
                [page]="pageData"
                [columns]="columns"
                [selectable]="selectable"
                [clickable]="clickable"
                [multiple]="multiple"
                [sortable]="true"
                [sortBy]="sortBy"
                [(ngModel)]="selectedRows"
                [sortOrder]="sortOrder"
                (sortChange)="sort($event)"
                (rowActionPerform)="performAction($event)"
                (rowClick)="showAlert($event)">
        </data-table>
    </md-card-content>
</md-card>
<div class="container">

    <!--<pagination #pagingBar [page]="dataTable.page">-->
    <!--<span pagination-label hide-xs>每页显示:</span>-->
    <!--当前第 {{pagingBar.range}}<span hide-xs> 条，总数: {{pagingBar.page.totalElements}}</span>-->
    <!--</pagination>-->

</div>
