<section>
    <div class="container">
        <data-table
                #dataTable
                [page]="pageData"
                [columns]="columns"
                [selectable]="selectable"
                [clickable]="clickable"
                [multiple]="multiple"
                [sortable]="true"
                [sortBy]="sortBy"
                [actions]="actions"
                [(ngModel)]="selectedRows"
                [sortOrder]="sortOrder"
                (sortChange)="sort($event)"
                (rowActionPerform)="performAction($event)"
                (rowClick)="showAlert($event)">
        </data-table>
        <!--<pagination #pagingBar [page]="dataTable.page">-->
            <!--<span pagination-label hide-xs>每页显示:</span>-->
            <!--当前第 {{pagingBar.range}}<span hide-xs> 条，总数: {{pagingBar.page.totalElements}}</span>-->
        <!--</pagination>-->

    </div>
</section>
